@{
    var DeriveId = (Func<string, string>)ViewData["DeriveId"];
}

<div id="@DeriveId("additionalCodeTmpl")" disabled style="display:none;">
    <!--Add Additional Code Controls -->
    <div class="additionalCode">
        @Html.Hidden("AdditionalCodeDesc", null, new { @id = DeriveId("AdditionalCodeDesc-{0}"), @class = "form-control additional-code-desc" })
        @Html.Hidden("Attr1", null, new { @id = DeriveId("Attr1-{0}"), @class = "form-control attr1" })
        @Html.Hidden("MetaJson", null, new { @id = DeriveId("MetaJson-{0}"), @class = "form-control mata-json" })
        @Html.Hidden("Source", null, new { @id = DeriveId("Source-{0}"), @class = "form-control source" })
        @Html.Hidden("CodeType", null, new { @id = DeriveId("CodeType-{0}"), @class = "form-control code-type" })
        <div class="form-group row">
            <div class="card col-sm-11 ml-2 mb-0 p-0 bg-light" style="border: 1px dotted;">
                <div class="card-header text-right bg-light p-0 m-0 border-0">
                    <a class="fas fa-times-circle text-danger" style="font-size: 1.2rem;" href="#" onclick="removeAdditionalCode(this)"></a>
                </div>
                <div class="card-body mt-n2">
                    <div class="col-sm-5">
                        @Html.DropDownList("AdditionalCodeSystem", ViewBag.ClassificationCodeTypes as SelectList, new { @class = "form-control additional-code-system", @name = "AdditionalCodeSystem", @id = DeriveId("AdditionalCodeSystem-{0}") })
                        @Html.ValidationMessage("AdditionalCodeSystem", new { @id = DeriveId("AdditionalCodeSystem-{0}") })
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="AdditionalCode" class="form-control additional-code-text" id="@DeriveId("AdditionalCode-{0}")" maxlength="50">
                        @Html.ValidationMessage("AdditionalCode", new { @id = DeriveId("AdditionalCode-{0}") })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function removeAdditionalCode(item) {
        $(item).closest('.additionalCode').remove();
    }
</script>