@using SynapseStudioWeb.Models;

@model ClientSecrets;

@{
    ViewData["Title"] = "ClientSecrets";
}

<h4>@ViewBag.ClientId Secrets</h4>
<div class="well" style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-3">
                <a class="btn btn-sm btn-primary btn-block" href=@("ClientClaims?id=" +ViewBag.id)>Client Claims</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-sm btn-primary btn-block" href=@("ClientGrantTypes?id=" +ViewBag.id)>ClientGrantTypes</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-sm btn-primary btn-block" href=@("ClientRedirectUris?id=" +ViewBag.id)>Client Redirect URIs</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-sm btn-primary btn-block" href=@("ClientScopes?id=" +ViewBag.id)>Client Scopes</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-tasks"></i>&nbsp;
                    @ViewBag.ClientId Secrets
                </h4>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h5>&nbsp;New Client Secret</h5>
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post" asp-controller="ClientManager" asp-action="AddNewClientSecret">
                                    <label for="SecretValue">* Please enter value for client secret</label>
                                    @Html.TextBox("SecretValue", null, new { @class = "form-control" })
                                    @Html.ValidationMessage("SecretValue", "", new { @class = "text-danger" })
                                    <br />
                                    <label for="SecretType">* Please enter type for client secret</label>
                                    @Html.TextBox("SecretType", null, new { @class = "form-control" })
                                    @Html.ValidationMessage("SecretType", "", new { @class = "text-danger" })
                                    <br />
                                    @Html.Hidden("ClientId", (object)ViewBag.id)
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-5">
                                            <input type="reset" class="btn btn-sm btn-primary" value="Cancel">
                                            <input type="submit" class="btn btn-sm btn-primary" value="Add">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <h5>&nbsp;@ViewBag.ClientId Secrets(@ViewBag.clientSecrets.Rows.Count)</h5>
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Value</th>
                                                    <th>Type</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.clientSecrets.Rows)
                                                {
                                                    <tr>
                                                        <td>@item["Value"]</td>
                                                        <td>@item["Type"]</td>
                                                        <td>
                                                            <a href=@("RemoveClientSecret?id=" + item["Id"]+"&clientId="+item["ClientId"])
                                                               style="float:left;color:#2a9fd6" onclick="return confirm('Are you sure to remove this record?');">Remove</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


